<%= layout("layouts/boilerplate.ejs")  %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="container">
        <h2>My Donations</h2>
        
        <% for(let list of donarListings) { %>
          <div class="donation-card">
            <div class="donation-header">
              <h3><%= list.food  %></h3>

              <% if(list.status === "Available"){ %>
                <span class="status available">Available</span>
              <% } else if(list.status === "Picked Up"){ %>
                <span class="status claimed">Picked Up</span>
              <% } else { %>
                <span class="status expired">Expired</span>
              <% } %>
            </div>

            <p class="location">📍 <%= list.location %></p>
            <p class="quantity">Quantity: <%= list.quantity %> plates</p>

            <div class="footer">
              <% if(list.status === "Available"){ %>
                <span>⏳ <%= list.timeLeft %></span>
                <span class="safe">✅ Safe for <%= list.safehrs %>h</span>
              <% } else if(list.status === "Picked Up"){ %>
                <span>🚚 Picked Up by Volunteer</span>
              <% } else { %>
                <span>⏳ Expired</span>
                <span class="safe">⚠️ Not Safe</span>
              <% } %>
            </div>
          </div>
        <% } %>

      </div>
    </div>
  </div>
</body>
